.post
  %h1 We Are a Distributed People, Let's Build Distributed Systems
  %hr
  %p
  %p
    %div{:style => "background-color: #f0e8f0;padding:10px;margin-right:12px;margin-bottom:2px;float:left;border: 1px solid #a8a;"}
      %img{:src => "/images/wilkie3.png", :style => "display:block;margin:0; border: 1px solid black"}
  :markdown
    Hi. My name is Dave. There are too many Daves in the world, so call me **wilkie**. I write [code](https://github.com/#{GITHUB_USERNAME}). Here is my [cv](/posts/cv). Feel free to follow
    me on [twitter](http://twiter.com/#{TWITTER_USERNAME}) or [rstat.us](http://rstat.us/users/#{RSTATUS_USERNAME}). This is a place for me to write about systems, programming, diversity, and technology. Particularly how it affects society and how society affects what we build. Here is the [collection](/archive) of my writing by topic.

    My research interest lies in *systems and operating system design*. I maintain a small [kernel](http://github.com/xomboverlord/xomb) designed, much like the exokernel before it, on the principle of only exposing [interfaces](/posts/a-language-for-interfaces) and never abstracting. I have the opinion, albeit heretical, that systems research has run askew of designing systems that function to a meaningless pursuit of benchmarks and that [performance doesn't matter](/posts/kaashoeks-law).

    Furthermore, I assert that an operating system can be [designed](/posts/djehuty-technical) in such a way that it adapts and learns from its environment. It can grow, alter, and change over time. Essentially, it can cooperate with software it finds and collects from others. Combined with a content-centric network, *code and thus information can be freely and widely available* as a result. I am developing such an [adaptable system](https://github.com/djehuty) in the public domain.

    Tied in to my belief in the freedom of computation, I am greatly interested and active in developing for the federated web. That is, the notion that the network you participate in and create content within is designed in the open and distributed such that you *control your content and even the means to propagate that content*. To that end, I am one of the founders of the federated microblogging software [rstat.us](https://rstat.us). I have founded and am heavily contributing to the development of a whole range of applications and libraries to produce a framework called [lotus](https://github.com/hotsh) for easily building and deploying federated applications.

    The *overall narrative of my work is that the most important facet of computation is that it should be available to all people*. I do not believe that we, as a society, are allowing the correct amount of diversity it terms of gender, sex, race, ethnicity, and other heavily socially constructed attributes. That is, we are [allowing](/posts/the-antirez-principle) these otherwise insignificant features to [bias](/posts/conference_diversity) access to technology. As such, I am also very interested in gender, queer, and race studies so that I can better understand how to develop an adaptable system that can overcome this adversity and truly reach all of humanity.

    I will write on topics such as software design, copyright and other legal issues that pertain to software, gender and diversity issues, information freedom, and perhaps random things I find neat.

    ## Projects and Teaching

    * [OurCS](posts/our-cs): A workshop that promotes research to undergraduate women where I led a team through a intriguing distributed systems problem.
    * [Reuleaux Selectors](posts/reuleaux-selectors): Discussion of gender/sexuality and research into a new form of human interface for specifying each.
    * [Open Source Game Coding Competition](http://osgcc.github.io): An annual, social programming experience I run that teams up experienced programmers with students to make games in 24 hours.
    * [Is This Conference Blind to Gender?](http://wilkie.github.io/is-my-conference-gender-blind): A small app to do the math and see how likely an event instituted double-blind review.

    ## Highlighted Posts

    * [Conferences Must Be Active To Promote Diversity](posts/conference_diversity): A mathematical take on conference speaker line-ups and how to determine if a conference is being gender-biased.
    * [Kernels Without Abstractions](posts/kernels_without_abstractions_general): A look at a history of OS design and how older, monolithic designs hinder social collaboration.
    * [Kaashoek's Law](posts/kaashoeks-law): We've been evaluating systems in only a single dimension; here I explain why this approach is wrong and how we could compare systems more completely.
    * [Learning from Doom Masters](posts/learning-mistakes-from-doom-masters): Making mistakes is part of the process. Here I look at code and highlight bugs in the game Doom and why they make the game *better* not worse.

    ## Selected Published Writing

    * [XOmB: an Exokernel for Modern 64-bit Multicore Hardware](http://www.inf.pucminas.br/sbc2010/anais/pdf/wso/st02_02.pdf) - WSO 2013: Describes the system architecture, technical merit, and novelty of a new kernel built without the legacy of prior abstractions.

    * [Balancing Performance, Accuracy, and Precision for Secure Cloud Transactions](/images/cv/TPDS_revision.pdf) - IEEE TPDS: Proposes new database consistency algorithms for emerging distributed data solutions to account for finer-grained privacy control within an eventually consistent environment.

    * [Studying Speedrunners](http://gamedeveloper.texterity.com/gamedeveloper/201303?pg=57#article_id=262899) - Game Developer Magazine: A look at the bugs in the popular game DOOM that have been discovered over the years by enthusiast players. I examine the released source code to explain why certain tricks work and discuss why having bugs in your games can be part of its appeal, not a drawback or mistake.

    ## Curriculum Vitae

    [Click here for a hypermedia version of my CV](posts/cv)

    ## Cool Person Webring
  %p.webring
  %p.coolpeople
    %a{:href=>"http://jocelynmonahan.com/"}Jocelyn Monahan
    |
    %a{:href=>"http://blog.steveklabnik.com"}Steve Klabnik
    |
    %a{:href=>"http://rarlindseysmash.com"}Lindsey Bieda
    |
    %a{:href=>"http://ashedryden.com"}Ashe Dryden
    |
    %a{:href=>"http://dominicdagradi.com/"}Dominic Dagradi
    |
    %a{:href=>"http://joannadrummond.com/"}Joanna Drummond
    |
    %a{:href=>"http://juliepagano.com/"}Julie Pagano
