body, html {
  background-image: url('../images/blue_bg.png');
	background-color: #e8e8ff;
	background-attachment: fixed;
	height: 100%;
}

.post hr {
  margin-bottom: 13px;
  border: none;
  border-top: 1px solid rgb(164,164,164);
  height: 1px;
}

.post hr + p {
  margin-bottom: 15px;
}

.post h1 + hr, .post h2.subtitle + hr {
  margin-bottom: 23px;
  width: 90%;
  border: none;
  background-image: url('/images/divider.png');
  background-position: 50%;
  height: 25px;
}

.container {
	min-height: 100%;
  max-width: 970px;
  margin-left: auto;
  margin-right:auto;
  padding-left: 5px;
  padding-bottom: 15px;
}

.post {
	background-color: #ffffff;
	min-height: 100%;

	padding-left: 20px;
	padding-top: 30px;
	padding-right: 22px;
	padding-bottom: 20px;

	border-left: 1px solid #cac;
	border-right: 1px solid #cac;
	border-bottom: 1px solid #cac;
}

.post a {
	color: #d6d;
}

.post a:visited {
	color: #d9d;
}

.post a.reference {
  font-size: 75%;
  line-height: 75%;
  vertical-align: super;
}

.post h2 {
  clear: both;
	font-family: 'Lato', 'Judson', serif;
  font-weight: 300;
	font-size: 28px;
	margin-bottom: 13px;
}

.post h3 {
  clear: both;
	font-family: 'Lato', 'Source Sans Pro', serif;
  font-weight: 300;
	color: rgb(73, 76, 230);
	color: rgb(118, 118, 228);
	font-size: 18px;
	margin-bottom: 13px;
  margin-left: 1px;
}

.post h1, .post h1 a {
	font-family: 'Philosopher', serif;
  text-align: center;
	color: rgb(98, 98, 178);
	font-size: 64px;
	line-height: 1.0em;
	margin-bottom: 18px;
}

.post h2.subtitle {
	font-family: 'Marcellus SC', 'Cinzel', serif;
	color: rgb(148, 148, 228);
  text-align: center;
  font-size: 30px;
}

.post h1 + p {
	margin-top: 0;
}

.post h2, .post h2 a, .post h2 a:visited {
	color: rgb(88, 90, 209);
	color: rgb(118, 118, 228); //rgb(72, 74, 171);
  color: rgb(34, 153, 170);
}

.post p {
	margin-top: 3px;
	margin-left: 2px;

  color: rgb(70,70,70);

	font-size: 14pt;
	font-family: 'Lato', 'Open Sans' ,'News Cycle', 'Metrophobic', sans-serif;
  font-weight: 600;

	line-height: 1.3em;
}

.post h1 + p {
	margin-bottom: 15px;
	font-size: 12px;
  word-spacing: 3px;
}

.post p + ul,
.post p + ol,
.post p + h3,
.post pre + h3,
.post p + h2,
.post pre + h2,
.post p + blockquote,
.post blockquote + h2,
.post blockquote + h3,
.post ol + h2,
.post ul + h2,
.post ol + h3,
.post ul + h3 {
	margin-top: 35px;
}

.post p + p {
	margin-top: 13px;
}

.post em {
	font-style: italic;
	color: rgb(78, 78, 158);
  font-family: 'Open Sans', 'Philosopher', serif;
  font-weight: 400;
  font-size: 17px;
}

.post strong {
	font-weight: bold;
}

.post pre {
	margin-left: 8px;
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 7px;
	padding-top: 3px;
	padding-bottom: 4px;

	line-height: 1.1em;

	overflow: auto;
}

.post pre > code {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
}

.post p code {
	font-size: 14px;
  line-height: 18px;
  display: inline-block;
	font-family: 'Inconsolata', monospace;
  background-color: inherit;
	color: #757;
}

.post pre > code > .ref_line {
  margin: 0;
  padding: 0;
  background-color: #333;
	position: relative;
}

.post pre > code > span.highlight {
}

.post pre > code > span.ref_number {
  color: yellow;
  background-color: black;
}

.post pre > code > span.ref_number > * {
  color: inherit;
}

.post pre > code > .ref_line:before {
	font-family: 'Inconsolata', monospace;
	font-size: 2em;
	line-height: 1em;
	color: #77f;
	color: rgb(138, 140, 209);
  font-weight: 800;
	z-index: 0;
	position: absolute;
	bottom: 0;
	right: 3px;
}

.post pre > code > .ref_line > div {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.post pre > code > .ref_line.c1:before {
  content: "1"
}

.post pre > code > .ref_line.c2:before {
  content: "2"
}

.post pre > code > .ref_line.c3:before {
  content: "3"
}

.post pre > code > .ref_line.c4:before {
  content: "4"
}

.post pre > code > .ref_line.s1:before {
  font-size: 2em
}

.post pre > code > .ref_line.s2:before {
  font-size: 3em
}

.post pre > code > .ref_line.s3:before {
  font-size: 4em
}

.post pre > code > .ref_line.s4:before {
  font-size: 5em
}

.post blockquote > p {
	font-family: 'Marcellus', serif;
	font-style: normal;
	font-size: 24px;
  line-height: 1.2em;
	color: #606060;
}

.post blockquote {
	font-style: normal;
	margin-bottom: 20px;
	background-color: #e3e3e3;
	color: #606060;
	padding: 10px 2em 0.6em 50px;
	position: relative;
}

.post blockquote:before {
	font-family: 'Inconsolata', monospace;
	content: "\00201c";
	position: absolute;
	top: 0;
	left: 3px;
	font-size: 5em;
	line-height: 1;
	color: #979;
	z-index: 1;
}

.post .citation {
	line-height: 1em;
	font-size: 12px;
	font-family: 'Metrophobic';
	font-style: italic;
	color: #888;
	text-align: right;
	margin-top: 8px;
}

.post blockquote a {
	color: #aaa;
}

.post blockquote a:visited {
	color: #aaa;
}

.post ul {
	list-style-type: disc;
}

.post ol {
	list-style-type: decimal;
}

.post ul, .post ol {
	margin-left: 25px;
  margin-bottom: 23px;
	font-family: 'Metrophobic';
}

.post * li {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
  color: rgb(68,68,68);
}

.post * li p {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
}

.post .image {
  text-align: center;
  margin-right: 10px;
  padding-top: 10px;
}

.post .image.border img {
	background-color: #f0e8f0;
	border: 1px solid #a8a;
}

.post .image.right {
  float:right;
  margin-left: 25px;
}

.post .image.left {
  float:left;
  margin-right: 25px;
}

.post .image > img, .post .image > div {
	padding: 7px;
  max-width: 100%;
  margin: 0 auto;
}

.post .image > div.border {
	background-color: #f0e8f0;
	border: 1px solid #a8a;
}

.post .image .caption,
.post .image .caption p {
	font-family: 'Judson', sans-serif;
  font-size: 13px;
  line-height: 1.3em;
  color: rgb(84,84,84);
  font-style: italic;
  width: 80%;
  margin: 0 auto;
}

.post .image .caption p {
  width: 100%;
  margin: 0;
  padding: 0;
}

.post .image .caption > strong {
  font-size: 1.0em;
  font-style: normal;
	font-family: 'Archivo Narrow', serif;
}

.post p.footer {
  font-size: 10px;
  clear: both;
  color: #888888;
}

.image > .yt {
  position: relative;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.image > .yt > .yt_fixture {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 420px;
}

.image > .yt > .yt_fixture > img {
  width: 100%;
  max-width: 420px;
}

.image > .yt > .yt_fixture > .yt_frame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width: 420px;
}

.post {
  border-right: none;
  border-top: 1px solid #cac;
}

h3#footnotes ~ ul {
  list-style: none;
  margin-left: 7px;
}

p + p.webring {
  margin-top: 30px;
  text-align:center;
  font-weight: 800;
}

p.webring + p.coolpeople {
  text-align:center;
  margin-top:0;
}
